<main class="mdl-layout__content">
  <div class="site-content">
    <div class="container">
      <div class="mdl-grid site-max-width">
        <button (click)="clicked(hero1.id,hero2.id)" md-button>
          <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" ng-class="myclass"
               ng-mouseleave="myclass = 'lowlight'">
            <div class="mdl-card__media">
              <img class="article-image" src="{{hero1.thumbnail}}" border="0" alt="">
            </div>
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">{{hero1.name}}</h2>
            </div>
          </div>
        </button>
        <div class="versus">
          <img src="https://www.spreadshirt.fr/image-server/v1/designs/12699381,width=178,height=178/eclair.png">
          <p>VS</p>
        </div>
        <button (click)="clicked(hero2.id,hero1.id)" md-button>
          <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
              <img class="article-image" src="{{hero2.thumbnail}}" border="0" alt="">
            </div>
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">{{hero2.name}}</h2>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</main>
