<section class="section--center mdl-grid site-max-width">
  <!-- Answer -->
  <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone  mdl-shadow--4dp" *ngFor="let trivia of trivias.__zone_symbol__value; let i = index">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Question n° {{ i+1 }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{ trivia.question }}
    </div>
    <div class="mdl-card__actions  mdl-card--border">
      <li *ngFor="let all_answer of trivia.all_answers">
        <input type="radio" id="answer{{i}}" name="answer{{i}}" value="{{ all_answer}}">{{ all_answer}}<br>
      </li>
      <input type="text" id="correct{{i}}"  name="correct{{ i }}" value="{{ trivia.correct_answer}}" hidden/>
    </div>
  </div>

  <!-- Pseudo -->
  <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone  mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Your pseudo</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
        <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" id="Name" name="name" type="text">
        <span class="mdl-textfield__error">Letters and spaces only</span>
      </div>
    </div>
    <div class="mdl-card__actions  mdl-card--border">
      <button (click)="clicked()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-upgraded=",MaterialButton,MaterialRipple">
        Validate
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
    </div>
  </div>
</section>

<!-- Ranking -->
<section class="mdl-grid site-max-width">
  <div class="mdl-cell mdl-card mdl-cell--12-col mdl-cell--4-col-tablet  mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><i class="fa fa-gamepad"></i>&nbsp; Ranking &nbsp;<i class="fa fa-gamepad"></i></h2>
    </div>
    <ul class="demo-list-three mdl-list" *ngFor="let person of currentRanking; let i = index">
      <li class="mdl-list__item mdl-list__item--three-line">
        <span *ngIf="i == 0"><i class="fa fa-trophy"></i> {{i+1}}st place</span>
        <span *ngIf="i == 1">{{i+1}}nd place</span>
        <span *ngIf="i == 2">{{i+1}}rd place</span>
        <span *ngIf="i >= 3">{{i+1}}th place</span>
      </li>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>{{ person.name }}</span>
          <span class="mdl-list__item-text-body">
            {{ person.result }}
          </span>
        </span>
      </li>
    </ul>
  </div>
</section>

